
form {
    margin: 0 auto;
    padding: 30px;
    background: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
    text-decoration: none;
}

.invalid-feedback {
    color: red;
    font-size: 0.9rem;
}

.btn-success {
    background-color: rgb(48, 109, 48);
}

.btn-error {
    background-color: #c9334f;
}

